.app {
	width: 80%;
	height: 95%;
	margin: 0 auto 0;
	border-radius: 15px;
	display: grid;
	overflow: hidden;
	box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.8);
	grid-template-columns: min-content 1fr 360px;
}
